html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main, #sidebar, #map {
    position: relative;
    top: 0px;
    bottom: 0px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#sidebar {
    position: absolute;
    width: 250px;
    overflow: scroll;
}

#header {
    position: relative;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#map {
    margin-left: 250px;
    margin-top: 50;
}
