html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    top: 0px;
    bottom: 0px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#datasetsButton {
    position: absolute;
    left: 250px;
    top: 10px;
    z-index: 5;
}

#sidebarButton {
    position: absolute;
    left: 250px;
    top: 40px;
    z-index: 5;
}

#map {
    margin-left: 0px;
    padding: 0px;
    position: relative;
    top: 0px;
    bottom: 0px;
    height: 100%;
}


#datasets {
    position: absolute;
    height: 100px;
    overflow: scroll;
    width: 100%;
    z-index: 2;
    bottom: 0px;
    background: white;
}

#sidebar {
    position: absolute;
    width: 250px;
    overflow: scroll;
    height: 100%;
    z-index: 1;
    background: white;
}

#sidebar > ul > li > ul {
    margin: 0;
    float: left;
    list-style: none;
}

#sidebar > ul > li > ul > li > input {
    float: left;
}
